<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/ericdaat/research-lab-website">Github Repository</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>BCAM – Basque Center for Applied Mathematics<br />
				Alameda de Mazarredo 14<br />
				48009 Bilbao, Bizkaia<br />
				(Basque Country, Spain)</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyleft, 2024. Freedom is granted to copy, modify and redistribute all the content of this site, provided that this notice is preserved, under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike license</a>.</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
